.feedCreate {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedCreate__description {
  border-color: black;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: both;
  height: 200px;
  width: 85%;
  padding-top: 0px;
  resize: none;
}

textarea::placeholder {
  color: rgba(197, 197, 197, 0.938);
}

.feedCreate__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 450px;
}

.feedCreate__image__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedCreate__comment {
  width: 500px;
  height: 30px;
  text-align: center;
  margin-bottom: 70px;
}

.feedCreate__image {
  max-width: 350px;
  border-color: black;
}

.feedCreate__bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}

.feedCreate__buttons {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.image__and__location__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedCreate__upload__container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
}

#locationButton,
#uploadButton {
  background-color: #9575cd;
}
