.name {
  display: flex;
  flex-direction: row;
  height: 38px;
  margin-bottom: 10px;
}

#nickname {
  width: 280px;
  height: 38px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.nicknameinput {
  display: flex;
  flex-direction: row;
  height: 38px;
}

#nicknameCheck {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-left: 8px;
  margin-bottom: 5px;
  padding: 10px 15px;
  text-align: center;
  height: 38px;
  font-size: 12px;
  font-weight: 1000;
}

.nicknameinput {
  display: flex;
  flex-direction: row;
  height: 38px;
}

#nicknameCheck {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-left: 8px;
  margin-bottom: 5px;
  padding: 10px 15px;
  text-align: center;
  height: 38px;
  font-size: 12px;
  font-weight: 1000;
}

.nickname__button__box {
  margin-top: 0px;
}

@media (max-width: 1366px) {
  .mobile__login__body {
    width: 100%;
    min-width: 80px;
    display: "flex";
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("../../background.jpg");
  }

  .mobile__login__body form {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .mobile__auth-wrapper h1 {
    font-weight: 1000;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 10px;
    color: #fafafa;
  }

  .mobile__auth-wrapper span {
    color: white;
  }

  .mobile__auth-wrapper span::before {
    display: inline;
    padding-top: 10px;
    content: "";
  }

  .mobile__auth-wrapper input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .mobile__auth-wrapper label {
    line-height: 2;
    text-align: left;
    display: block;
    margin: 5px 0;
    font-size: 14px;
    font-weight: 200;
    color: #fafafa;
  }

  .mobile__auth-wrapper button[type="submit"],
  .mobile__auth-wrapper input[type="submit"] {
    background: #5b63ac;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
  }

  .mobile__auth-wrapper button[type="submit"]:hover,
  .mobile__auth-wrapper input[type="submit"]:hover {
    background: #8893e4;
  }

  .mobile__auth-wrapper button[type="submit"]:active,
  .mobile__auth-wrapper input[type="button"]:active,
  .mobile__auth-wrapper input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }

  .mobile__auth-wrapper input:disabled {
    opacity: 0.4;
  }

  .mobile__auth-wrapper input[type="button"]:hover {
    transition: 0.3s all;
  }

  .mobile__auth-wrapper button[type="submit"],
  .mobile__auth-wrapper input[type="button"],
  .mobile__auth-wrapper input[type="submit"] {
    -webkit-appearance: none;
  }

  .mobile__auth-wrapper button[type="button"] {
    display: block;
    appearance: none;
    background: #5b63ac;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }

  .mobile__auth-wrapper .name {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .mobile__auth-wrapper .nicknameinput {
    display: flex;
  }

  .mobile__auth-wrapper #nicknameCheck {
    position: relative;
  }

  .mobile__auth-wrapper #nicknameCheck__error {
    display: inline;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
  }

  .mobile__auth-wrapper hr {
    margin-top: 30px;
  }
}
