* {
  margin: 0;
}

.app {
  background-color: #f1f0f0;
  margin: auto 1px;
  width: 100%;
  height: 100%;
}

.app__body__map {
  justify-content: center;
}

.disabled {
  display: none;
}

.app__feed {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.app__body {
  padding-top: 80px;
}

.app__map {
  padding-top: 150px;
  border: lightgray;
  height: 100%;
  position: fixed;
  top: 44px;
}

.app__map__container {
  width: 60%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
