.map {
  height: 100%;

  padding-left: 30px;
}

#mapview {
  width: 380px;
  height: 500px;
}

#dong {
  display: flex;
  margin: auto;
}

.map__button {
  display: flex;
  margin: auto;
}

#mapview {
  z-index: 0;
}
