.map {
  height: 100%;
  padding-top: 98px;
  width: 440px;
}

#mapview {
  width: 436px;
  height: 438px;
  z-index: 0;
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

#dong {
  display: flex;
  margin: auto;
}

.map__button {
  display: flex;
  margin: auto;
}

.mapview__container {
  background-color: white;
  border: 2px solid #d8d7d7;
  margin-bottom: 3%;
  border-radius: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
}

.mapview__header {
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
  height: 40px;
  background-color: rgb(253, 249, 243);
}

.mapview__footer {
  height: 50px;
  color: gray;
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 249, 243);
}

.SkY6J .K5OFK,
.SkY6J .l93RR,
.SkY6J .DINPA {
  color: #c7c7c7;
  color: rgba(var(--edc, 199, 199, 199), 1);
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-transform: none;
}

.mapview__header__quote {
  margin-top: 15px;
  margin-left: 5px;
}
.ixdEe {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 3px;
}

ul,
ol {
  list-style: none;
}

.mapview__header__quote {
  font-weight: 700;
  margin-top: 10px;
  color: #9575cd;
}

.wrap {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 288px;
  height: 132px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  line-height: 1.5;
}
.wrap * {
  padding: 0;
  margin: 0;
}
.wrap .info {
  width: 286px;
  height: 120px;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}
.wrap .info:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.info .title {
  padding: 5px 0 0 10px;
  height: 30px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}
.info .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  width: 17px;
  height: 17px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");
}
.info .close:hover {
  cursor: pointer;
}
.info .body {
  position: relative;
  overflow: hidden;
}
.info .desc {
  position: relative;
  margin: 13px 0 0 90px;
  height: 75px;
}
.desc .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.desc .jibun {
  font-size: 11px;
  color: #888;
  margin-top: -2px;
}
.info .img {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 73px;
  height: 71px;
  border: 1px solid #ddd;
  color: #888;
  overflow: hidden;
}
.info:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: 0;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.info .link {
  color: #5085bb;
}
