.actions {
  display: flex;
  align-items: center;
  padding-right: 20px;
  color: rgb(130, 130, 130);
}

.profile {
  border: 1px solid transparent;
}

.profile svg:first-child {
  margin-right: 10px;
}
.profile:hover {
  cursor: pointer;
  border: 1px solid rgb(230, 230, 230);
}

.actions__location {
  display: flex;
  align-items: center;
  padding: 10px;
}

.actions__logout {
  padding: 5px 16px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #0179d2;
  color: #0179d2;
  font-weight: 600;
  font-size: 15px;
  margin-right: 5px;
}
.actions__logout:hover {
  cursor: pointer;
  background-color: rgb(232, 243, 255);
  border: 1px solid rgb(232, 243, 255);
}
