.actions {
  display: flex;
  align-items: center;
  padding-right: 20px;
  color: rgb(130, 130, 130);
}

.profile {
  border: 1px solid transparent;
}

.profile svg:first-child {
  margin-right: 10px;
}
.profile:hover {
  cursor: pointer;
  border: 1px solid rgb(230, 230, 230);
}

.actions__location {
  display: flex;
  align-items: center;
  padding: 10px;
}
