.feed {
  background-color: white;
  width: 98%;
  height: 100%;
  max-width: 760px;
  border: 2px solid #d8d7d7;
  margin-bottom: 3%;
  border-radius: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
}

.feed:hover {
  border: 2px solid lightgray;
}

.feed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7px;
}

.feed__header__left {
  display: flex;
  flex-direction: row;
}

.feed__image {
  object-fit: contain;
  aspect-ratio: 1 / 1;
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.feed__section {
  object-fit: contain;
  display: flex;
  padding-left: 10px;
}

.feed__text {
  font-weight: normal;
  padding: 10px 8px;
}

.feed__avatar {
  margin-right: 5px;
}

.feed__commentBox {
  margin-top: 10px;
  display: flex;
}

.feed__input {
  flex: 1;
  padding: 10px;
  border: 1px solid transparent;
  font-size: 15px;
}
.feed__button {
  flex: 0;
  cursor: pointer;
  border: 1px solid transparent;
}

.feed__comments {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 24px;
}

.menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: auto; /* Strictly for positioning */
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.feed__morebutton {
  background-color: transparent;
  color: gray;
  border: none;
}

.feed__morebutton:hover {
  cursor: pointer;
}

.comment__title {
  background-color: transparent;
  color: gray;
  font-size: small;
}

.comment_delete_button {
  background-color: rgb(250, 250, 250);
  color: white;
  font-size: small;
  border: lightgray 1px;
  margin-left: auto;
  border-radius: 3%;
}

.comment_delete_button:hover {
  cursor: pointer;
  color: red;
  background-color: lightgray;
}

.comment__section {
  display: flex;
}
